.App {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
  background-color: var(--base-color);
  min-width: 500px;
  max-width: 700px;
  position: relative;
  /* overflow: hidden; */
}

#reset-button {
  background: none;
  color: rgba(255, 255, 255, 0.151);
  border: none;
  margin-right: 0;
  font-size: 25pt;
  cursor: pointer;
  transition: color 0.2s ease;
  outline: none;
  z-index: 1000;
}

#reset-button:hover {
  color: white;
}