.App {
  justify-content: center;
}

.reset-button {
  background: none;
  color: var(--text-default);
  border: none;
  margin-bottom: 10px;
  font-size: 25pt;
  cursor: pointer;
  transition: color 0.2s ease;
  outline: none;
  z-index: 1000;
}

.reset-button:hover {
  color: var(--text-correct);
}

.test-container {
  display: flex;
  width: 100%;
  margin-top: 5rem;
  justify-content: center;
}