@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

:root {
  font-family: Ubuntu Mono;
  /* font-family: Fira Code; */

  --base-color     : rgb(62, 49, 255);
  --text-default   : rgb(116, 98, 135);
  --text-incorrect : rgb(255, 46, 168);
  --text-correct   : rgb(201, 169, 255); 
  --cursor-color   : rgb(255, 205, 57);

  margin: 0;
  padding: 0;
}

body {
  /* background-color: rgb(9, 12, 20); */
  background-color: var(--base-color);
  overflow: hidden;
  padding: 20px;
}

