@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

:root {
  font-family: Ubuntu Mono;
  /* font-family: Fira Code; */

  --base           : rgb(38, 42, 51);
  --secondary      : rgb(28, 32, 38);
  --text-default   : rgb(82 103 119);
  --text-incorrect : rgb(255, 105, 105);
  --text-correct   : rgb(67, 255, 175); 
  --caret   : rgb(67, 255, 175);

  margin: 0;
  padding: 0;
}

body {
  /* background-color: rgb(9, 12, 20); */
  background-color: var(--base);
  overflow: hidden;
  padding: 20px;
}