/* Test.css */

.Test {
  position: relative;
  background-color: var(--base-color);
  width: 80%;
  max-width: 900px;
  height: 80px;
  padding: 20px;
  /* overflow: hidden; */
}

#input-box {
  position: absolute;
  outline: none;
  z-index: -1;
}

#words {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7em; /* word spacing */ 
}

.blur {
  width: 110%;
  height: 110%;
  transform: translate(-5%, -5%);
  backdrop-filter: blur(4px);
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.click-to-focus {
  transform: translateX(-30px);
  width: 175px;
  z-index: 3;
  color: white;
  cursor: pointer;
}

.click-to-focus > img {
  aspect-ratio: 1;
  margin-right: 10px;
  transform: translateY(4px);
  width: 20px;
  cursor: pointer;
}

.word {
  border-bottom: 2px solid var(--base-color);
  display: flex;
  letter-spacing: 0.5px;
}

.error {
  border-bottom: 2px solid var(--text-incorrect);
}

.active {
  border-bottom: 2px solid var(--base-color);
}

.letter {
  font-size: 17pt;
  color: var(--text-default)
}

.correct {
  color: var(--text-correct);
}

.incorrect {
  color: var(--text-incorrect);
}

.extras {
  color: var(--cursor-color);
}

.letter-dim {
  filter: opacity(50%);
}


#caret {
  font-size: 22pt;
  width: 2px;
  height: 25px;
  border-radius: 2px;
  position: absolute;
  background-color: var(--cursor-color);
}

.caret-smooth {
  transition: left 0.1s ease;
}

.blink {
  animation-duration: 0.5s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

@keyframes blink{
  from {filter: opacity(0);}
  to {filter: opacity(100%);}
}

#score {
  font-size: 20pt;
  margin-bottom: 0;
  margin-top: 10px;
  color: rgb(251, 188, 53);
  filter: saturate(60%); 
}